* {
    box-sizing: border-box;
}

body {
    /* background-color: brown; */
}

header {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}